.container {
    width: 15em;
    margin: 0 0.2em;
    float: left;
    position: relative;
}

.container.lightMode {
    color: black;
    background-color: #ccc;
}

.container.darkMode {
    background-color: black;
    color: #ccc;
}

.pic img {
    width: 100%;
}

.title {
    font-weight: bold;
    margin-bottom: 1em;
}

.channel, .views {
    font-size: 0.7em;
    margin-bottom: 0.2em;
}

.views span {
    padding: 0 0.5em;
}

.close {
    position: absolute;
    right: 0;
}

.edit {
    position: absolute;
    right: 60px;
}