.App {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 22px;
  height: 100vh;
}

.App.lightMode {
  background-color: #ccc;
  color: black;
}

.App.darkMode {
  background-color: black;
  color: white;
}
